   /* ============================================================
      FLYING CARTRIDGE
      ============================================================ */

    .flying-cartridge {
      position: fixed;
      z-index: 1000;
      pointer-events: none;
      transform-origin: center center;
      transition:
        left 0.9s cubic-bezier(0.22, 1, 0.36, 1),
        top 0.9s cubic-bezier(0.22, 1, 0.36, 1),
        width 0.9s ease,
        height 0.9s ease,
        transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
    }


    /* ============================================================
      LOADING SCREEN
      ============================================================ */

    #loading-screen {
      position: fixed;
      inset: 0;
      z-index: 900;
      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(0, 0, 0, 0.88);

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transition: opacity 0.35s ease;
    }

    #loading-screen.show {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .loading-box {
      width: min(500px, 85%);
      padding: 35px;

      text-align: center;

      background: var(--green-deep);
      border: 5px solid var(--gold);
      border-radius: 12px;

      box-shadow:
        0 12px 35px rgba(0,0,0,0.5);
    }

    .loading-title {
      color: white;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .loading-cartridge {
      width: 110px;
      height: 145px;
      margin: 0 auto 20px;
    }

    .loading-cartridge img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      filter: drop-shadow(0 8px 10px rgba(0,0,0,0.4));
    }

    .loading-text {
      color: white;
      font-size: 18px;
      margin-bottom: 12px;
    }

    .loading-bar {
      width: 100%;
      height: 20px;
      background: #102719;
      border: 3px solid white;
      border-radius: 4px;
      overflow: hidden;
    }

    #loading-progress {
      width: 0%;
      height: 100%;
      background: var(--gold);
      transition: width 0.15s linear;
    }